/* Pre-Assigned Classes for SwiperJS HTML Elements */

.swiper {
  border-radius: 10px;
}

.swiper-slide {

  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-slide img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
  opacity: 0.75;
}

.swiper-button-prev, .swiper-button-next {
  text-rendering: auto;
  color: #FFF;
}

.swiper-button-prev {
  padding-left: 50px;
}

.swiper-button-next {
  padding-right: 50px;
}

.swiper-pagination {
  padding-bottom: 15px;
}

.swiper-pagination-bullet {
  background-color: #fff;
}


@media (max-width: 800px) {

  .swiper-button-prev {

    padding-left: 20px;

  }

  .swiper-button-next {

    padding-right: 20px;

  }

}
